body {
  background-color: var(--db-page-bg, #eee);
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.page__header-container {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  padding: var(--db-spacing-s) var(--db-spacing-lg);
  background-color: #fff;
}

.page-nav__list {
  display: flex;
  gap: var(--db-spacing-md);
  align-items: center;
}

.page-nav__item {
  text-decoration: none;
  color: black;
}

.page-nav__item.page-nav__item--primary {
  background-color: var(--db-color-primary);
  padding: var(--db-spacing-s);
  color: #fff;
  border-radius: var(--db-rounded-xs);
  font-weight: bold;
}

.home-title__container {
  text-align: center;
  margin: var(--db-spacing-lg) 0;
}

.page__title {
  color: var(--db-color-primary);
  font-size: var(--db-page-title-size);
}

.home__main-img {
  width: 50vw;
}

.character-card__container {
  max-width: 200px;
  border-radius: var(--db-rounded-md);
  box-shadow: var(--db-elevation-md);
  background-color: var(--db-color-secondary);
}

.character-card__header {
  background-image: url("../assets/imgs/character-header-bg.webp");
  background-size: cover;
  text-align: center;
}

.character-card__header img {
  max-width: 100px;
  transform: scale(1.25);
}

.character-card__body {
  color: #fff;
  padding: var(--db-spacing-s);
}

.character-card__body > * {
  margin-bottom: var(--db-spacing-md);
}

.character-description__title {
  font-size: 1.5rem;
}

.character-description__text--primary {
  color: var(--db-color-primary);
}
