:root {
  --db-color-primary: #fbc02d;
  --db-color-secondary: #3c3e44;
  --db-page-bg: #272b33;

  --db-spacing-s: 8px;
  --db-spacing-md: 12px;
  --db-spacing-lg: 16px;

  --db-rounded-xs: 5px;
  --db-rounded-md: 10px;

  --db-elevation-md: 0 0 10px rgba(0, 0, 0, 0.1);

  --db-page-title-size: 24px;
}
